# Ex - GroupBy

### Paso 1. Importar librerias

In [3]:
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

### Paso 3. Asígnalo a una variable llamada bebidas.

In [5]:
bebidas = pd.read_csv(url)
bebidas

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [45]:
sumCerveza = bebidas.groupby(by="continent").sum("beer_servings")
maxCerveza = bebidas.groupby(by="continent").sum("beer_servings")["beer_servings"].max()

In [47]:
sumCerveza[sumCerveza["beer_servings"] == maxCerveza].index[0]

'EU'

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [65]:
continentes = bebidas["continent"].unique()

for continente in continentes:
    print("Estadisticas de consumo de vino para ", continente)
    print(bebidas[bebidas["continent"] == continente]["wine_servings"].describe())
    print()

Estadisticas de consumo de vino para  AS
count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64

Estadisticas de consumo de vino para  EU
count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64

Estadisticas de consumo de vino para  AF
count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64

Estadisticas de consumo de vino para  nan
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: wine_servings, dtype: float64

Estadisticas de consumo de vino para  SA
count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64

Estadisticas de consumo de vino para  OC
count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [69]:
columnas = bebidas.columns
for col in bebidas:
    print(col)

country
beer_servings
spirit_servings
wine_servings
total_litres_of_pure_alcohol
continent

In [84]:
bebidas.groupby(by="continent").mean("beer_servings")

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [86]:
bebidas.groupby(by="continent").median("beer_servings")

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [92]:
for continente in continentes:
    print("Estadisticas de consumo de vino para ", continente)
    pdCont = bebidas[bebidas["continent"] == continente]
    print("Máximo consumo de cerveza:", pdCont["beer_servings"].max())
    print("Mínimo consumo de cerveza:", pdCont["beer_servings"].min())
    print("Consumo medio de cerveza:", round(pdCont["beer_servings"].mean(),2))

    print("Máximo consumo de espirituosas:", pdCont["spirit_servings"].max())
    print("Mínimo consumo de espirituosas:", pdCont["spirit_servings"].min())
    print("Consumo medio de espirituosas:", round(pdCont["spirit_servings"].mean(),2))

    print("Máximo consumo de vino:", pdCont["wine_servings"].max())
    print("Mínimo consumo de vino:", pdCont["wine_servings"].min())
    print("Consumo medio de vino:", round(pdCont["wine_servings"].mean(),2))
    print()

Estadisticas de consumo de vino para  AS
Máximo consumo de cerveza: 247
Mínimo consumo de cerveza: 0
Consumo medio de cerveza: 37.05
Máximo consumo de espirituosas: 326
Mínimo consumo de espirituosas: 0
Consumo medio de espirituosas: 60.84
Máximo consumo de vino: 123
Mínimo consumo de vino: 0
Consumo medio de vino: 9.07

Estadisticas de consumo de vino para  EU
Máximo consumo de cerveza: 361
Mínimo consumo de cerveza: 0
Consumo medio de cerveza: 193.78
Máximo consumo de espirituosas: 373
Mínimo consumo de espirituosas: 0
Consumo medio de espirituosas: 132.56
Máximo consumo de vino: 370
Mínimo consumo de vino: 0
Consumo medio de vino: 142.22

Estadisticas de consumo de vino para  AF
Máximo consumo de cerveza: 376
Mínimo consumo de cerveza: 0
Consumo medio de cerveza: 61.47
Máximo consumo de espirituosas: 152
Mínimo consumo de espirituosas: 0
Consumo medio de espirituosas: 16.34
Máximo consumo de vino: 233
Mínimo consumo de vino: 0
Consumo medio de vino: 16.26

Estadisticas de consumo de vino para  nan
Máximo consumo de cerveza: nan
Mínimo consumo de cerveza: nan
Consumo medio de cerveza: nan
Máximo consumo de espirituosas: nan
Mínimo consumo de espirituosas: nan
Consumo medio de espirituosas: nan
Máximo consumo de vino: nan
Mínimo consumo de vino: nan
Consumo medio de vino: nan

Estadisticas de consumo de vino para  SA
Máximo consumo de cerveza: 333
Mínimo consumo de cerveza: 93
Consumo medio de cerveza: 175.08
Máximo consumo de espirituosas: 302
Mínimo consumo de espirituosas: 25
Consumo medio de espirituosas: 114.75
Máximo consumo de vino: 221
Mínimo consumo de vino: 1
Consumo medio de vino: 62.42

Estadisticas de consumo de vino para  OC
Máximo consumo de cerveza: 306
Mínimo consumo de cerveza: 0
Consumo medio de cerveza: 89.69
Máximo consumo de espirituosas: 254
Mínimo consumo de espirituosas: 0
Consumo medio de espirituosas: 58.44
Máximo consumo de vino: 212
Mínimo consumo de vino: 0
Consumo medio de vino: 35.62