# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [ ]:
lista_1 = ['Luis', 'Alvaro', 'Michael', 'Juan']
lista_2 = ['Jaime', 'Raúl', 'Laura', 'Sol', 'María',' Shirlei']
lista_3 = ['Gonzalo', 'Roland', 'Juan']
lista_casa = ['Miren', 'Carlos']

lista_alumnos = lista_1 + lista_2 + lista_3 + lista_casa

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [ ]:
lista_vacia = list()

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [ ]:
mi_lista = [1,2,3,4,5]

3. Hallar la longitud de **mi_lista**

In [ ]:
long = len(mi_lista)
long

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [ ]:
primero = mi_lista[0]
mitad = long//2
medio = mi_lista[mitad]
final = mi_lista[-1]
print(str(mi_lista[0]), str(mi_lista[-1]), str(mi_lista[long//2]))

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [ ]:
nombre = "Jaime"
edad = 33
altura = 180
pais = "España"
python_version = "3.11"

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [ ]:
tipos_de_datos_mezclados = [nombre, edad, altura, pais, python_version]

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Imprime **it_companies** usando print()

In [ ]:
print(it_companies)

9. Imprimir el número de empresas de la lista

In [ ]:
print(len(it_companies))

11. imprimir *Google

In [ ]:
print(*"Google")

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

11. Asignar un nuevo valor al último elemento de la lista

In [ ]:
it_companies[-1] = "Indra"

12. Imprimir la lista después de modificar una de las empresas

In [ ]:
it_companies

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [ ]:
"Apple" in it_companies

15. Ordena la lista utilizando el método `sort()`.

In [ ]:
it_companies.sort()

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [ ]:
it_companies.reverse()

17. Elimine las 3 primeras empresas de la lista

In [ ]:
it_companies.pop(0)
it_companies.pop(1)
it_companies.pop(2)

18. Elimine la última empresa informática de la lista

19. Eliminar todas las empresas de TI de la lista

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [ ]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
fin = front_end + back_end

21. De la lista **end** imprimir 'HTML'

In [ ]:
print(fin[0][0])

22. En la lista final, imprima la "C" de la palabra "CSS".

In [ ]:
print(fin[0][1][0])

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [34]:
tup = "T",

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [35]:
print(type(tup))

<class 'tuple'>

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [37]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]
mi_conjunto = set(lista_repes)

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [38]:
print(mi_conjunto[0])

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [39]:
list(mi_conjunto)

['science', 'diomedes', 'data', 'python', 'gabriel', 'clara']