# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Paso 3. Asígnalo a una variable llamada chipo.

In [6]:
chipo = pd.read_csv(url, sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [9]:
chipo["precio"] = chipo["item_price"].str[1:].str.rstrip()
chipo["precio"] = chipo["precio"].astype("float")

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   precio              4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [12]:
mask = chipo["precio"].max()
chipo[chipo["precio"] == mask]

,order_id,quantity,item_name,choice_description,item_price,precio
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

### Paso 6. Ordenar por el nombre del artículo

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?